* {
  margin: 0;
  padding: 0;
}
a:link, a:visited, a:active, a:hover {
  color: #000000;
  text-decoration: none;
}
img {
  border-radius: 2%;
}
body {
  /* background: radial-gradient(circle, rgba(0,0,0,1) 20%, rgba(15,127,114,1) 45%, rgba(127,15,120,1) 66%, rgba(252,176,69,1) 100%); */
  background: #000;
}
h1 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
span {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}