#sidebar {
  padding: 0% 2%;
  border-right: 1px solid #fff;
  font-size: 18px;
}
.sidebarItem {
  margin: 20% 0;
}

/* 
a:visited {
  color: #000000;
}
a:hover {
  color: #000000;
}
a:active {
  color: #000000;
} */